@import 'general-mixins.scss';
@import '../mixins.scss';
@import '../constants.scss';

.wrapper {
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: var(--terminals-orchestrator-bg-color);

  @include flex-center;
  @include font;
  @include scroll(var(--term-js-scroll-color));
}

.root {
  flex: 1;
  background: var(--terminals-orchestrator-workspace-bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {}

.content {
  position: relative;
  flex: 1;
}
