@import 'colors';

:root {
  --modals-plugin-title-text-color: #{darken($alabaster, 10)};

  --modals-plugin-close-color: #{lighten($bunker, 40)};
  --modals-plugin-close-bg: #{lighten($bunker, 14)};
  --modals-plugin-close-bg-hover: #{lighten($bunker, 18)};
  --modals-plugin-close-bg-active: #{lighten($bunker, 10)};

  --modals-plugin-overlay-bg-color: #{rgba($bunker, 0.5)};

  --modals-plugin-modal-bg-color: #{lighten($bunker, 10)};
  --modals-plugin-modal-header-bg-color: #{lighten($bunker, 15)};

  --modals-plugin-button-bg-active: #{lighten($bunker, 8)};
  --modals-plugin-button-active-color: #{$alabaster};
  --modals-plugin-button-active-bg: #{lighten($bunker, 14)};
  --modals-plugin-button-active-bg-hover: #{lighten($bunker, 18)};
  --modals-plugin-button-general-color: #{lighten($bunker, 50)};
  --modals-plugin-button-general-bg-hover: #{lighten($bunker, 12)};
}
