@import '@styles/mixins';
@import '@styles/functions';

.ModalView {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--term-js-modals-overlay-bg);

  @include flex-c;
}

.ModalView__container {
  max-width: unit(240);
  max-height: unit(120);
  min-width: unit(80);
}

.ModalView__modal {
  position: relative;
  border: unit(1) solid var(--term-js-modals-border);
  border-top-width: unit(0.25);
  border-bottom-width: unit(0.25);
  background: var(--term-js-modals-bg);
}

.ModalView__absoluteModal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ModalView__header {
  position: relative;
  height: unit(7.5);
  padding-left: unit(1);

  @include flex-cv;
}

.ModalView__title {
  @include truncate();
  flex: 1;
  text-align: center;
}

.ModalView__titleText {
  @include font-size(0.75);
  color: var(--term-js-modals-header-text);
}

.ModalView__closeButton {
  position: absolute;
  right: 0;
  top: unit(-3.75);
  width: unit(7.5);
  height: unit(7.5);

  @include clear-button;
  @include flex-c;

  &:hover .ModalView__closeIcon {
    fill: var(--term-js-modals-close-hover);
    stroke: var(--term-js-modals-close-hover);
  }

  &:active .ModalView__closeIcon {
    fill: var(--term-js-modals-close-active);
    stroke: var(--term-js-modals-close-active);
  }
}

.ModalView__closeIconContainer {
  @include flex-c;
  background: var(--term-js-modals-close-bg);
  width: unit(5);
  height: unit(5);
}

.ModalView__closeIcon {
  pointer-events: none;
  width: unit(4);
  height: unit(4);
  fill: var(--term-js-modals-close);
  stroke: var(--term-js-modals-close);
}

.ModalView__actionLine {
  display: flex;
  justify-content: center;
  margin-bottom: unit(4);
}

.ModalView__content {
  padding: unit(6) unit(4);
}

.ModalView__actions {
  position: relative;
  top: unit(-1.5);
}

.ModalView__actionButton {
  position: relative;
  border: none;
  background: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @include truncate();
  padding: unit(3) unit(2);
  min-width: unit(20);
  margin: 0 unit(4);
  color: var(--term-js-modals-btn-text);
}

.ModalView__actionButton:disabled {
  opacity: 0.4;
  cursor: default;
}

.ModalView__actionButton:not([disabled]) {
  &:hover {
    &:before, &:after {
      position: absolute;
      top: calc(50% - #{unit(0.25)});
      content: '';
      width: unit(0.5);
      height: unit(0.5);
      border-radius: 50%;
      pointer-events: none;
      background: var(--term-js-modals-btn-color);
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &:active {
    color: var(--term-js-modals-btn-bg-active);
  }
}

.ModalView__submitActionButton {
  font-weight: 600 !important;
}

.ModalView__generalActionButton {
  font-weight: 200 !important;
}
