@import '@styles/mixins';
@import '@styles/functions';

.VirtualizedList__root {
  height: 100%;
  @include overflow-y(scroll);
}

.VirtualizedList {
  position: relative;
}

.VirtualizedList__itemsContainer {
  position: absolute;
  left: 0;
  right: 0;
}
