@import '../../../../../src/Term/mixins';

@mixin hidden-caret {
  color: transparent;
  text-shadow: 0 0 0 var(--main-text-color);
}

.root {
  position: relative;
}

.input {
  cursor: text;

  &.hiddenCaret .editPart {
    @include hidden-caret;

    > * {
      @include hidden-caret;
    }
  }
}

.lockPart {
  display: inline;
}

.editPart {
  display: inline;
  @include input-general;

  > span {
    @include input-general;
  }
}
