@import '@styles/functions';

$size: 5;
$top: 1.5;
$right: 1.5;
$iconSize: $size * 0.6;

$left: -$right - $size;
$svgTop: $top + ($size - $iconSize) / 2;
$svgLeft: -$right - $size + ($size - $iconSize) / 2;


.Autocomplete__withIcon {
  &:before {
    content: '';
    position: absolute;
    top: unit($top);
    left: unit($left);
    width: unit($size);
    height: unit($size);
    background-color: var(--term-js-autocomplete-icon-bg);
  }
  svg {
    position: absolute;
    top: unit($svgTop);
    width: unit($iconSize);
    height: unit($iconSize);
    left: unit($svgLeft);
    stroke: var(--term-js-autocomplete-icon-color);
    fill: var(--term-js-autocomplete-icon-color);
  }
}
