@import './colors';

:root {
  --main-bg-color: #{$bunker};
  --scrollbar-bg-color: #{lighten($bunker, 20)};
  --main-text-color: #{$alabaster};
  --main-selectoin-color: #{darken($alabaster, 20)};

  --header-text-color: #{darken($alabaster, 30)};
  --header-bg-color: #{lighten($bunker, 3)};

  --line-lable-text-color: #{darken($alabaster, 50)};

  --simple-caret-bg-color: #{lighten($bunker, 5)};
}
