@import 'mixins';
@import 'theme';

.wrapper {
  display: flex;
}

.label {
  display: flex;
}

.labelTextContainer {
  max-width: 10rem;

  @include truncated;
}

.labelText {
  color: var(--line-lable-text-color);
}

.inputContainer {

}

.input {

}

.caret {

}
