@import 'general-mixins.scss';
@import 'general-components.scss';
@import 'general-theme.scss';
@import '../../constants.scss';
@import '../../theme.scss';

.root {
  @include clear-button;
  @include flex-center;

  position: relative;
  left: 0;
  padding-left: $terminals-orchestrator-tab-margin;
  padding-top: $terminals-orchestrator-tab-offset;
  transition: padding-top $terminals-orchestrator-tab-animation-duration linear,
    left $terminals-orchestrator-tab-animation-duration ease;
  color: var(--terminals-orchestrator-tab-text-color);
  z-index: calc(var(--terminals-orchestrator-start-z-index) + 1);
  min-width: 8rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $terminals-orchestrator-tab-margin;
  }

  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    left: $terminals-orchestrator-tab-margin;
    right: 0;
    top: $terminals-orchestrator-tab-offset;
    bottom: 0;
    border-radius: $terminals-orchestrator-tab-border-radius $terminals-orchestrator-tab-border-radius 0 0;
    transition: top $terminals-orchestrator-tab-animation-duration linear;
    background: var(--terminals-orchestrator-tab-bg-color);
    box-shadow: var(--terminals-orchestrator-tab-shadow);
  }

  &:hover:not(.skipHover) {
    padding-top: $terminals-orchestrator-tab-active-offset;

    &:after {
      top: $terminals-orchestrator-tab-active-offset;
    }
  }

  &.active {
    padding-top: $terminals-orchestrator-tab-active-offset;
    color: var(--terminals-orchestrator-tab-active-text-color);

    &:after {
      top: $terminals-orchestrator-tab-active-offset;
      background: var(--terminals-orchestrator-workspace-bg-color);
    }
  }

  &.draggable {
    opacity: 0.3;
    z-index: calc(var(--terminals-orchestrator-start-z-index) + 2);

    &:after {
      box-shadow: none;
    }
  }
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

.hidden {
  display: none;
}

.close {
  @include icon-button(2rem, 1rem);
  z-index: calc(var(--terminals-orchestrator-start-z-index) + 1);
  opacity: 1;
  @include button-transition(opacity);

  .root:not(:hover) & {
    opacity: 0;
  }
}

.title {
  flex: 1;
  z-index: calc(var(--terminals-orchestrator-start-z-index) + 1);
  max-width: 6rem;
  position: relative;

  &:not(.editable) {
    @include truncate();
  }
}

.titleText, .input {
  color: var(--terminals-orchestrator-tab-text-color);

  .active & {
    color: var(--terminals-orchestrator-tab-active-text-color);
  }
  @include font-size(0.85);
}

.titleText {
  .editable & {
    visibility: hidden;
    pointer-events: none;
  }
}

.inputContainer {
  @include flex-center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.input {
  outline: none;
  width: 100%;
  padding: 0;
  text-align: center;

  color: var(--term-js-text-color);
}

.rightAction {
  @include size(2rem);

  position: relative;
  z-index: calc(var(--terminals-orchestrator-start-z-index) + 1);
}

.shortcut {
  @include flex-center;
  @include button-transition(opacity);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;

  .root:not(:hover) & {
    opacity: 1;
  }
}

.shortcutText {
  @include font-size(0.8);
  color: var(--terminals-orchestrator-tab-shortcut-text-color);
}

.rename {
  @include icon-button(2rem, 1rem);
  @include button-transition(opacity);

  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .root:not(:hover) & {
    opacity: 0;
  }
}
