@import '@styles/functions';

.Item {
  padding: unit(2.5) unit(3);
  cursor: pointer;

  &.Item__active {
    background: var(--term-js-dropdown-bg-active);
  }
}

.Item__text {
  color: var(--term-js-dropdown-text);
}

.Item__matchText {
  opacity: 0.3;
}

