.root {
  padding: 0.5rem 0.75rem;
  cursor: pointer;

  &.active {
    background: var(--dropdown-plugin-active-bg-color);
  }
}

.text {
  color: var(--dropdown-plugin-text-color);
}

.matchText {
  opacity: 0.3;
}

