@import '../_styles/mixins';

.Line__root {
  position: relative;
  visibility: hidden;
}

.Line__visible {
  visibility: visible;
}

.Line__content {
  display: flex;

  @include padding-vertical(0.25rem);
}

.Line__helpContainer {
  top: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.Line__inputContainer {
  flex: 1;
  position: relative;
}
