@import 'src/Term/_styles/mixins';

.root {
  position: relative;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.content {
  display: flex;

  @include padding-vertical(0.25rem);
}

.helpContainer {
  top: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.inputContainer {
  flex: 1;
  position: relative;
}
