@import '@styles/mixins';
@import '@styles/functions';

.Line__root {
  position: relative;
  visibility: hidden;
}

.Line__visible {
  visibility: visible;
}

.Line__content {
  display: flex;
  @include padding-v(unit(1));
}

.Line__helpContainer {
  top: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.Line__inputContainer {
  flex: 1;
  position: relative;
}
