@import '../../mixins.scss';
@import '../../constants.scss';

.down {
  @include icon-button($terminals-orchestrator-tabs-height, $terminals-orchestrator-tabs-height);
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.leftAdditional {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 1rem;
  overflow: hidden;
  height: $terminals-orchestrator-tabs-height;
  left: $terminals-orchestrator-tabs-height + $terminals-orchestrator-tab-margin - 1rem;

  &:before, &:after {
    position: relative;
    border-radius: $terminals-orchestrator-tab-border-radius 0 0 0;
    width: 0.5rem;
    background: var(--terminals-orchestrator-tab-bg-color);
    box-shadow: var(--terminals-orchestrator-tab-shadow);
  }

  &:after {
    content: '';
    height: $terminals-orchestrator-tabs-height - 1.75 * $terminals-orchestrator-tab-offset;
  }

  &.two {
    &:after {
      left: 0.25rem;
    }

    &:before {
      content: '';
      background: var(--terminals-orchestrator-tab-bg-color);
      height: $terminals-orchestrator-tabs-height - 2.5 * $terminals-orchestrator-tab-offset;
      left: 0.5rem;
    }
  }
}

.rightAdditional {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 1rem;
  overflow: hidden;
  height: $terminals-orchestrator-tabs-height;
  left: 0;
  flex-direction: row-reverse;
  z-index: 0;

  &:before, &:after {
    position: relative;
    border-radius: 0 $terminals-orchestrator-tab-border-radius 0 0;
    width: 0.5rem;
    background: var(--terminals-orchestrator-tab-bg-color);
    box-shadow: var(--terminals-orchestrator-tab-shadow);
  }

  &:after {
    content: '';
    height: $terminals-orchestrator-tabs-height - 1.75 * $terminals-orchestrator-tab-offset;
  }

  &.two {
    &:after {
      left: -0.25rem;
    }

    &:before {
      content: '';
      background: var(--terminals-orchestrator-tab-bg-color);
      height: $terminals-orchestrator-tabs-height - 2.5 * $terminals-orchestrator-tab-offset;
      left: -0.5rem;
    }
  }
}

.list {
  display: flex;
  max-width: calc(100% - #{$terminals-orchestrator-tabs-height});
  position: relative;
  z-index: 1;
}

.navigationContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  width: $terminals-orchestrator-tabs-height * 1.5;
}

.addContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.add {
  @include icon-button($terminals-orchestrator-tabs-height, 1.5rem);
}
