@import 'general-mixins.scss';
@import 'general-components.scss';
@import '../../theme.scss';

.container {
  @include overlay;

  z-index: calc(var(--terminals-orchestrator-start-z-index) + 4);
}

.list {
  @include context-menu-list;

  position: absolute;
  z-index: 4;
}
