@import '@styles/variables';
@import '@styles/theme';

@import '@styles/mixins';
@import '@styles/functions';

.Term {
  background-color: var(--term-js-bg);
  color: var(--term-js-text);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include full-size;
  @include font;

  ::-webkit-scrollbar {
    @include size(unit(2));
  }

  ::-webkit-scrollbar-thumb {
    background: var(--term-js-scrollbar-bg);
  }

  input, textarea {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;

    &::selection {
      background-color: var(--term-js-selectoin);
    }
  }

  input:focus, textarea:focus, button:focus, div:focus {
    outline: none;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(12, 52, 32, 0.12) 50%, rgba(16, 16, 16, 0.09) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background-size: 100% unit(0.5), unit() 100%;
    pointer-events: none;
  }
}

.Term__header {
  height: unit(10);
  background-color: var(--term-js-header-bg);

  @include flex-c;
  @include padding-h(unit(4));
}

.Term__header--hidden {
  display: none;
}

.Term__headerTextContainer {
  @include truncated;

  flex: 1;
  text-align: center;
}

.Term__headerText {
  font-size: unit(3.5);
  color: var(--term-js-header-text);
}

.Term__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse, var(--term-js-content-bg) 2%, var(--term-js-content-bg) 93%);
}

.Term__linesContainer {
  flex: 1;
  overflow: hidden;

  @include margin-v(unit(1));
}

.Term__line {
  @include margin-h(unit(2));
}

.Term__editLine {
  margin-bottom: unit(20);
}
