@mixin touch-scrolling {
  will-change: transform;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@mixin overflow-y($value) {
  overflow-y: #{$value};
  @include touch-scrolling;
}

@mixin overflow-x($value) {
  overflow-x: #{$value};
  @include touch-scrolling;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin padding-vertical($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-horizontal($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
