@import './colors';

:root {
  --main-bg-color: #{$bunker};
  --main-text-color: #{$alabaster};

  --header-text-color: #{darken($alabaster, 30)};
  --header-bg-color: #{lighten($bunker, 10)};

  --line-lable-text-color: #{darken($alabaster, 50)};
}
