@import 'theme';

@keyframes carriage-return-blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.05;
  }

  75% {
    opacity: 1;
  }
}

@keyframes carriage-return-busy {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.root {
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  background: var(--main-text-color);
  border-radius: 0.0625rem;
  animation-name: carriage-return-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: var(--main-bg-color);
  user-select: none;
  display: inline-block;

  &.lock, &.busy {
    animation-name: none;
    opacity: 1;
  }

  &.busy{
    background: none;

    &:after, &:before {
      content: '';
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: var(--simple-caret-bg-color);
      top: calc(50% + 0.0625rem);
      left: 100%;
      transform: translate(-50%, -50%);
      animation-name: carriage-return-busy;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    &:after {
      border-style: solid;
      border-width: 0.0625rem;
      border-color: var(--main-text-color);
    }
  }

  &.hidden {
    display: none;
  }
}
