@import '../../_styles/mixins';

.Label__label {
  display: flex;
}

.Label__labelTextContainer {
  max-width: 10rem;

  @include truncated;
}

.Label__labelText {
  color: var(--line-lable-text-color);
}
