@import '@styles/mixins';
@import '@styles/functions';

.Label__label {
  display: flex;
}

.Label__labelTextContainer {
  max-width: unit(40);
  @include truncated;
}

.Label__labelText {
  color: var(--term-js-label-text);
}
