// color name should be taken from https://chir.ag/projects/name-that-color

$unit: 4px;

$black: #000000;
$mine-shaft: #2F2F2F;
$silver: #c5c5c5;


$racing-green: #0A1810;
$aztec: #0D2116;
$bush: #113423;
$celtic: #153624;
$everglade: #1f4b30;
$green-pea: #256B44;
$sea-green: #2B724D;
$jungle-green: #2ebb75;
$shamrock: #33DD88;
$genoa: #189255;
$como: #4D886C;
