@import 'general-colors.scss';

:root {
  --term-js-scroll-color: #{lighten($bunker, 20)};
  --term-js-transparent-overlay-color: #{rgba($bunker, 0)};
  --term-js-overlay-color: #{rgba($bunker, 0.5)};
  --term-js-text-color: #{$alabaster};

  --term-js-popup-bg-color: #{lighten($bunker, 10)};
  --term-js-popup-header-bg-color: #{lighten($bunker, 15)};
  --term-js-popup-border-color: #{darken($bunker, 10)};
  --term-js-popup-header-text-color: #{darken($alabaster, 40)};
  --term-js-popup-text-color: #{darken($alabaster, 30)};

  --term-js-icon-button-color: #{lighten($bunker, 30)};
  --term-js-icon-button-color-hover: #{lighten($bunker, 40)};
  --term-js-icon-button-color-active: #{lighten($bunker, 32)};

  --term-js-list-bg-color-hover: #{lighten($bunker, 15)};

  --term-js-button-bg-color-active: #{lighten($bunker, 8)};
  --term-js-button-primary-bg-color: #{lighten($bunker, 14)};
  --term-js-button-primary-bg-color-hover: #{lighten($bunker, 18)};
  --term-js-button-primary-text-color: #{$alabaster};
  --term-js-button-default-text-color: #{lighten($bunker, 50)};
}
