@import 'functions';

@mixin input-general {
  word-break: break-all;
  resize: none;
}

@mixin touch-scrolling {
  will-change: transform;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

@mixin overflow-y($value) {
  overflow-y: #{$value};
  @include touch-scrolling;
}

@mixin overflow-x($value) {
  overflow-x: #{$value};
  @include touch-scrolling;
}

@mixin clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin font-size($scale: 1) {
  font-size: unit(3.5 * $scale) !important;
}

@mixin font {
  &, input, textarea, select, button, pre {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-weight: 400;
    @include font-size(1);
  }
}

@mixin size($value) {
  width: $value;
  height: $value;
}

@mixin scroll($color) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $color;
  }
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin button-font-size {
  @include font-size(0.75);
}

@mixin truncate($lines: 1) {
  overflow: hidden;
  @if $lines == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-ch {
  display: flex;
  justify-content: center;
}

@mixin flex-rh {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-lh {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-cv {
  display: flex;
  align-items: center;
}

@mixin clear-button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline:0;
  color: var(--term-js-text-color);
  user-select: none;

  @include button-font-size;
}

@mixin button-transition($properties...) {
  $transition-value: '';
  @each $property in $properties {
    @if $transition-value == '' {
      $transition-value: #{$property} 0.15s ease;
    } @else {
      $transition-value: #{$transition-value}, #{$property} 0.15s ease;
    }
  }
  transition: #{$transition-value};
}

@mixin border-right-radius($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-left-radius($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin border-top-radius($value) {
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-radius($value) {
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin margin-v($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-h($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin padding-v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-h($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
