@import '@styles/functions';
@import '@styles/mixins';

.ContextMenuView {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--term-js-context-menu-bg);
  color: var(--term-js-context-menu-color);
  border: unit(0.25) solid var(--term-js-context-menu-border);
  visibility: hidden;
  @include blink-animation(ContextMenuView__container);
}
