@import '@styles/mixins';
@import '@styles/functions';

@keyframes SimpleCaret-carriage-return-blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.05;
  }

  75% {
    opacity: 1;
  }
}

@keyframes SimpleCaret-carriage-return-busy {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.SimpleCaret {
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
  background: var(--term-js-text);
  border-radius: unit(0.25);
  animation-name: SimpleCaret-carriage-return-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: var(--term-js-bg);
  display: inline-block;
}

.SimpleCaret--lock,
.SimpleCaret--busy {
  animation-name: none;
  opacity: 1;
}

.SimpleCaret--busy{
  background: none;

  &:after, &:before {
    content: '';
    position: absolute;
    width: unit(3);
    height: unit(3);
    border-radius: 50%;
    background: var(--term-js-bg);
    top: calc(50% + #{unit(0.25)});
    left: 100%;
    transform: translate(-50%, -50%);
    animation-name: SimpleCaret-carriage-return-busy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &:after {
    border-style: solid;
    border-width: unit(0.25);
    border-color: var(--term-js-text);
  }
}

.SimpleCaret--hidden {
  display: none;
}
