$terminals-orchestrator-general-font-size: 1rem;
$terminals-orchestrator-tab-offset: 0.5rem;
$terminals-orchestrator-tab-active-offset: 0.25rem;
$terminals-orchestrator-tab-animation-duration: 0.1s;
$terminals-orchestrator-tabs-height: 2.5rem;
$terminals-orchestrator-tab-margin: 0.25rem;
