@import 'general-colors.scss';
@import 'general-theme.scss';

:root {
  --terminals-orchestrator-bg-color: #{$mine-shaft};
  --terminals-orchestrator-workspace-bg-color: #{$bunker};

  --terminals-orchestrator-tabs-drop-marker-color: #{darken($alabaster, 20)};

  --terminals-orchestrator-tab-bg-color: #{$shark};
  --terminals-orchestrator-tab-shadow: 0 0 4px 1px #{$mine-shaft};
  --terminals-orchestrator-tab-active-bg-color: #{$bunker};

  --terminals-orchestrator-tab-text-color: #{darken($alabaster, 50)};
  --terminals-orchestrator-tab-shortcut-text-color: #{darken($alabaster, 70)};
  --terminals-orchestrator-tab-active-text-color: #{darken($alabaster, 30)};
}
