@import 'colors';

:root {
  --terminals-orchestrator-bg-color: #{$mine-shaft};
  --terminals-orchestrator-workspace-bg-color: #{$bunker};

  --terminals-orchestrator-tab-bg-color: #{$shark};
  --terminals-orchestrator-tab-active-bg-color: #{$bunker};

  --terminals-orchestrator-tab-text-color: #{darken($alabaster, 50)};
  --terminals-orchestrator-tab-shortcut-text-color: #{darken($alabaster, 70)};
  --terminals-orchestrator-tab-active-text-color: #{darken($alabaster, 30)};

  --terminals-orchestrator-icon-button-color: #{lighten($bunker, 18)};
  --terminals-orchestrator-icon-button-color-hover: #{lighten($bunker, 30)};
  --terminals-orchestrator-icon-button-color-active: #{lighten($bunker, 22)};
}
